<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta http-equiv='content-type' content='text/html; charset=UTF-8'/>
        <title th:text="${title}">Lucas – styl życia Dépor</title>
    </head>
    <body>
        <h2 th:text="${title}">Lucas – styl życia Dépor</h2>
        <hr style='border-top: dashed 1px;'/>
        <small th:if="${author != null}" th:text="${author}">Tomasz Pietrzyk</small>
        <small th:if="${date != null and author != null}"> | </small>
        <small th:if="${date != null}" th:text="${date}"></small>
        <small th:if="${readingTime != null and (date != null or author != null)}"> | </small>
        <small th:if="${readingTime != null and readingTime > 0}"><span th:text="${readingTime}"></span> min read</small>
        <small th:if="${readingTime != null and readingTime == 0}">less than 1 min read</small>

        <div th:utext="${content}"></div>
        <hr th:if="${url != null or qrCode != null or not #maps.isEmpty(actions)}" style='border-top: dashed 1px;'/>
        <small th:if="${url != null}"><a th:href="${url}">Open article website</a></small>
        <small th:if="${url != null and not #maps.isEmpty(actions)}"> | </small>
        <small th:each="action,iterationStatus : ${actions}">
            <a th:href="${action.value}" th:text="${action.key}"></a>
            <span th:if="!${iterationStatus.last}"> | </span>
        </small>
        <span th:if="${qrCode != null}">
            <center><img th:src="${qrCode}"/></center>
        </span>
    </body>
</html>
