<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="http://www.w3.org/1999/xhtml; charset=utf-8" http-equiv="Content-Type"/>
    <title th:text="${title}">¡Olé! Magazyn</title>
    <meta content="jindle" name="author"/>
    <meta content="jindle" name="description"/>
</head>
<body>
    <p>&#160;</p>
    <p>&#160;</p>
    <p>&#160;</p>
    <p>&#160;</p>
    <h1 th:text="${title}">¡Olé! Magazyn</h1>
</body>
</html>